# dependencies
node_modules/

# yarn
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
# eslint
.eslintcache
yarn.lock
# misc
.DS_Store

# IDE
.vscode/
.idea/

# cli
dist/

# subgraph

subgraph/build/
subgraph/generated/
subgraph/graph-node/data/

packages/subgraph/build/
packages/subgraph/generated/
packages/subgraph/graph-node/data/

# envio

envio/build/
envio/node_modules/
envio/generated/
envio/graph-node/data/

packages/envio/build/
packages/envio/generated/
packages/envio/node_modules/
packages/envio/graph-node/data/